numpy
streamlit
matplotlib 

seaborn

scikit-learn
Keras==2.4.3         
Keras-Preprocessing==1.1.2 

pytesseract== 0.3.7
pyspellchecker==0.6.2  

opencv-python-headless
Shapely





